[Desktop Entry]
Type=Application
Version=1.0
Name=MailHog
Comment=Archival email keyword hunter
Exec=/opt/mailhog/mailhog
Icon=mailhog
Terminal=false
Categories=Utility;Office;
